<footer class="main-footer">
  <div class="auto-container">
    <div class="widgets-section">
      <div class="row clearfix">
        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget logo-widget">
            <div class="logo">
              <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
            </div>
            <div class="text">Since opening our doors in 2011,  We make photographing even the hugest, king-size quilts a breeze.</div>
            <ul class="social-nav">
              <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
            <div class="copyright">&copy; {{ "now"|date('Y') }} <a href="/">{{ siteName }}</a>. Все права защищены | Сайт сделан студией <a href="https://www.iconicline.com/ru" target="_blank">Iconicline</a></div>
          </div>
        </div>

        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget logo-widget">
            <div class="newsletter-widget">
              <h5>Get the latest information about <br> Offers & Promotion</h5>
              <div class="newsletter-form">
                <form method="post" action="contact.html">
                  <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email" required="">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="theme-btn btn-style-three"><span class="txt">SUBSCRIBE</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget links-widget">
            <h5>Quick link</h5>
            <ul class="footer-list">
              <li><a href="#">Home</a></li>
              <li><a href="#">Offices</a></li>
              <li><a href="#">Feature Your Wedding</a></li>
              <li><a href="#">Other Services</a></li>
              <li><a href="#">Other Services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
