<footer class="main-footer">
  <div class="auto-container">
    <div class="widgets-section">
      <div class="row clearfix">
        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget logo-widget">
            <div class="logo">
              <a href="/"><img src="/assets/img/logo.png" alt="logo" title="{{ siteName }}"></a>
            </div>
            <div class="text">Специалисты, которые сделают незабываемой вашу свадьбу</div>
            <ul class="social-nav">
              <li><a href="{{ globalInstagram.textFormatted }}" target="_blank"><span class="fa fa-instagram"></span></a></li>
              <li><a href="{{ globalVk.textFormatted }}" target="_blank"><span class="fa fa-vk"></span></a></li>
              <li><a href="{{ globalYoutube.textFormatted }}" target="_blank"><span class="fa fa-youtube"></span></a></li>
              <li><a href="{{ globalFacebook.textFormatted }}" target="_blank"><span class="fa fa-facebook-f"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget logo-widget">
            <h5>Телефон</h5>
            <a href="tel:{{globalPhone.textUnformatted|replace('/[^0-9+]/', '') }}"><span>{{ globalPhone.textUnformatted }}</span></a><br>
            <h5>Консультация</h5>
            <a href="tel:{{globalPhoneConsult.textUnformatted|replace('/[^0-9+]/', '') }}"><span>{{ globalPhoneConsult.textUnformatted }}</span></a><br>
            <h5>Whatsapp</h5>
            <a href="https://wa.me/{{globalWhatsapp.textUnformatted|replace('/[^0-9]/', '') }}" target="_blank"><span>{{ globalWhatsapp.textUnformatted }}</span></a><br>
            <h5>Email</h5>
            <a href="mailto:{{globalEmail.textFormatted }}"><span>{{ globalEmail.textFormatted }}</span></a><br>
          </div>
        </div>

        <div class="footer-column col-lg-4 col-md-6 col-sm-12">
          <div class="footer-widget links-widget">
            <h5>Информация</h5>
            <ul class="footer-list">
              {% nav entry in craft.entries.section('footerMenu').level(1).all() %}
              <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                <a class="menu-item-link" href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
              </li>
              {% endnav %}
            </ul>
          </div>
        </div>

        <div class="footer-column col-md-12">
        <div class="copyright">&copy; {{ "now"|date('Y') }} <a href="/">{{ siteName }}</a>. Все права защищены | Сайт сделан студией <a href="https://www.iconicline.com/ru" target="_blank">Iconicline</a></div>
      </div>

      </div>
    </div>
  </div>
</footer>
