<header class="main-header header-style-one">

  <!--Header-Upper-->
  <div class="header-upper">
    <div class="auto-container">
      <div class="clearfix">

        <div class="pull-left logo-box">
          <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
        </div>

        <div class="nav-outer clearfix">
          <!-- Mobile Navigation Toggler -->
          <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
          <!-- Main Menu -->
          <nav class="main-menu navbar-expand-md">
            <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                {% nav entry in craft.entries.section('mainMenu').level(1).all() %}
                {% if entry.hasDescendants() %}
                <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                  <a href="#0" class="menu-item-link">{{ entry.title }}</a>

                  <ul class="sub-menu">
                    {% set subEntries = craft.entries.descendantOf(entry).level(2) %}

                    {% for entry in subEntries.all() %}
                    <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                      <a class="menu-item-link" href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
                    </li>
                    {% if loop.last %}
                  </ul>
                </li>
                {% endif %}
                {% endfor %}

                {% else %}
                <li class="menu-item {% if craft.app.request.segments|first  ==  entry.menuLink|split('/')|slice(1, 2)|join('/') %}active{% endif %}">
                  <a class="menu-item-link" href="{{ siteUrl|trim('/') }}{{ entry.menuLink }}">{{ entry.title }}</a>
                </li>
                {% endif %}
                {% endnav %}
              </ul>

              <ul class="navigation clearfix">
                <li class="current dropdown"><a href="#">Home</a>
                  <ul>
                    <li><a href="index.html">Home Page 01</a></li>
                    <li><a href="index-2.html">Home Page 02</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">About Us</a>
                  <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                  </ul>
                </li>
                <li><a href="service.html">Services</a></li>
                <li class="dropdown"><a href="#">Portfolio</a>
                  <ul>
                    <li><a href="portfolio.html">Our Portfolio</a></li>
                    <li><a href="portfolio-collection.html">Portfolio Collection</a></li>
                    <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                    <li><a href="portfolio-single-01.html">Portfolio Single 01</a></li>
                    <li><a href="portfolio-single-02.html">Portfolio Single 02</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Blog</a>
                  <ul>
                    <li><a href="blog.html">Our Blog</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                    <li><a href="not-found.html">Not Found</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact us</a></li>
              </ul>
            </div>

          </nav>

          <div class="outer-box">

            <ul class="social-icon-one">
              <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
              <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            </ul>

            <div class="btn-box">
              <a href="contact.html" class="theme-btn btn-style-one"><span class="txt">VIEW COLLECTION</span></a>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!--End Header Upper-->

  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="auto-container clearfix">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="index.html" title=""><img src="images/logo-2.png" alt="" title=""></a>
      </div>
      <!--Right Col-->
      <div class="pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <!--Keep This Empty / Menu will come through Javascript-->
        </nav><!-- Main Menu End-->
        <div class="outer-box">
          <ul class="social-icon-one">
            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          </ul>
        </div>
        <!-- Mobile Navigation Toggler -->
        <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon fa fa-remove"></span></div>

    <nav class="menu-box">
      <div class="nav-logo"><a href="index.html"><img src="images/logo-3.png" alt="" title=""></a></div>
      <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
    </nav>
  </div><!-- End Mobile Menu -->

</header>
