<section class="banner-section">

  <div class="banner-carousel owl-theme owl-carousel">

    <!-- Slide Item -->
    <div class="slide-item">
      <div class="image-layer" style="background-image:url(/assets/temp_img/1.jpg)"></div>
      <div class="auto-container">
        <div class="content-box">
          <h1>Look your best on <br> your best day</h1>
          <div class="text">Call us book your dress — <a href="tel:{{globalPhone.textUnformatted|replace('/[^0-9+]/', '') }}"><span>{{ globalPhone.textUnformatted }}</span></a><br>
          </div>
          <a href="contact.html" class="theme-btn btn-style-one"><span class="txt">VIEW COLLECTION</span></a>
        </div>
      </div>
    </div>

  </div>

</section>
