<div class="row clearfix">
  {% for entry in craft.entries().section('team').limit(20).all() %}
  <div class="team-member col-lg-3 col-md-6 col-sm-12">
    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
      <div class="image-box">
        {% set image = entry.teamImage.one() %}
        {% if image %}
        <figure class="image">
          <img src="{{ image.getUrl('image273X273') }}" alt="{{ entry.title }}" />
        </figure>
        {% endif %}
      </div>
      <div class="lower-content">
        <h3>{{ entry.title }}</h3>
        <div class="designation">{{ entry.teamText|raw }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
