{% extends "_layout" %}

{% block content %}
{% include "_includes/_sub_header" with { title: entry.title, image: 'off', breadcrumb: 'on' } %}

{% set image = entry.backgroundImage.one() %}
<section class="page-title style-one" style="background-image:url({% if image %}{{ image.getUrl() }}{% endif %})">
  <div class="auto-container">
    <h1>{{ entry.title }}</h1>
  </div>
</section>
<div class="sidebar-page-container">
  <div class="">
    <div class="row clearfix">
      <div class="content-side col-12">
        <div class="news-detail">
          <div class="inner-box">
            <div class="lower-content">
              {% for block in entry.commonBlocks.all() %}
              {% if block.type == 'gorizontalNyySpisok' %}
              <div class="auto-container text-center row pb-3 pt-3">
                {% for item in block.spisok %}
                <div class="col">
                  <div class="round-number">{{ loop.index }}</div>
                  <h5>{{ item.tekst }}</h5>
                </div>
                {% endfor %}
              </div>

              {% elseif block.type == 'blokiSKartinkoySleva' %}
              <section class="about-section">
                <div class="auto-container">
                  <div class="row clearfix">
                    {% if loop.index is odd %}
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                      <div class="inner-column">
                        {% set image = block.izobrazhenie.one() %}
                        {% if image %}
                        <div class="image">
                          <img src="{{ image.getUrl('image570x370') }}" alt="" />
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                      <div class="inner-column">
                        {{ block.tekst }}
                      </div>
                    </div>
                    {% if loop.index is even %}
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                      <div class="inner-column">
                        {% set image = block.izobrazhenie.one() %}
                        {% if image %}
                        <div class="image">
                          <img src="{{ image.getUrl('image570x370') }}" alt="" />
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </section>

              {% elseif block.type == 'gallereya' %}
              <section class="services-section">
                <div class="auto-container">
                  <div class="inner-container">
                    <div class="row clearfix">

                      {% for image in block.foto.all() %}
                      <div class="service-block col">
                        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                          <div class="image">
                            <img src="{{ image.getUrl('image273X273') }}" alt="" />
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                  </div>
                </div>
              </section>

              {% elseif block.type == 'tekstovyyBlok' %}
              <div class="auto-container pb-3 pt-3">
                {{ block.tekst }}
              </div>
              {% elseif block.type == 'spisokZebra' %}
              {% for item in block.punktSpiska %}
              <div class="{% if loop.index is odd %}color-background{% endif %}">
                <div class="auto-container pb-3 pt-3">
                  <h4>{{ item.nazvanie }}</h4>
                  <p>{{ item.opisanie }}</p>
                </div>
              </div>
              {% endfor %}
              {% endif %}

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
