{% extends "_layout" %}
{% set description = entry.seoDescription %}
{% block content %}
{% for block in entry.mainBlocks.all() %}

{% if block.type == 'videoZastavka' %}

<section class="banner-section">
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/cJqyBSUUg0U?version=3&controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=cJqyBSUUg0U&enablejsapi=1&origin=https://weddings.ru" frameborder="0" allowfullscreen></iframe>
      <!-- <iframe id="player" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/cJqyBSUUg0U?controls=0&showinfo=0&rel=0&autoplay=1&loop=1enablejsapi=1&origin=https://weddings.ru"
  frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>

  <div id="vidtop-content">
    <div class="vid-info">
      <div class="auto-container">
        <div class="content-box text-center">
          <h1>{{ block.zagolovok }}</h1>
          <div class="text">{{ block.podzagolovok }}</div>
          <div class="row clearfix">
            {% for service in block.uslugi %}
            <div class="col-lg-3 col-md-3 col-sm-12 mt-3">
              {{ service.ikonka|raw }}
              <h5>{{ service.nazvanie }}</h5>
              {{ service.tekst }}<br>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% elseif block.type == 'videoBloki' %}
<section class="pricing-section">
  <div class="auto-container">
    <div class="row clearfix">
      {% for video in block.video %}
      <div class="col-lg-4 col-md-6 col-sm-12 mt-2 mb-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ video.kodIframe }}" allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% elseif block.type == 'informatsionnyyBlok' %}
<section class="informatsionnyyBlok">
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.zagolovok }}</h2>
      <div class="title mt-3">{{ block.podzagolovok }}</div>
    </div>
    <div class="row clearfix">
      {% for info in block.infobloki %}
      <div class="col-lg-6 col-md-6 col-sm-12 mb-2 mt-2">
        <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative align-items-center">
          <div class="item col-md-3 col-xs-12 col-sm-12 p-3">
            {{ info.ikonka|raw }}
          </div>
          <div class="col d-flex flex-column position-static">
            <h4>{{ info.zagolovok }}</h4>
            <p>{{ info.tekst }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% elseif block.type == 'parallaks' %}
{% set image = block.izobrazhenie.one() %}
<section class="call-to-action-two-section" id="place" style="background-image: url('{% if image %}{{ image.getUrl() }}{% else %}{% endif %}')">
  <div class="auto-container">
    <h2 class="text-center">{{ block.nazvanie }}</h2>
    <a href="#" class="theme-btn btn-style-three mt-3" data-toggle="modal" data-target="#modalQuestions"><span class="txt">Ответить на 3 вопроса</span></a>
  </div>
</section>

{% elseif block.type == 'fotogalereya' %}
<section class="collection-section" id="photo">
  <div class="auto-container">
    <div class="sec-title">
      <h2>{{ block.zagolovok }}</h2>
    </div>
    {% for entry in craft.entries().section('gallery').limit(1).all() %}
    <div class="row clearfix">
      {% for imageSet in entry.gallereya.all() %}
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            {% set image = imageSet.glavnoeIzobrazhenie.one() %}
            <img src="{{ image.getUrl('image370X400') }}" alt="{{ imageSet.nazvanie }}" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="#" data-toggle="modal" data-target="#modalGallery{{ loop.index }}">{{ imageSet.nazvanie }}</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>

{% elseif block.type == 'imageSlider' %}
<section class="banner-section">
  <div class="banner-carousel owl-theme owl-carousel">
    {% for image in block.izobrazhenie %}
    <div class="slide-item">
      <div class="image-layer" style="background-image:url({{ image.getUrl() }})"></div>
      <div class="auto-container">
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% elseif block.type == 'uslugi' %}
<section class="uslugi pt-4 mt-4" id="uslugi">
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.zagolovok }}</h2>
      <div class="title mt-3">{{ block.podzagolovok }}</div>
    </div>
    <div class="row clearfix">
      {% for entry in craft.entries().section('services').limit(24).all() %}
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 mb-3">
        <div class="big-number d-none d-md-flex h-100 mr-3">
          <span class="justify-content-center align-self-center">{{ loop.index }}</span>
        </div>
        <h4>{{ entry.title }}</h4>
        {{ entry.serviceText }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% elseif block.type == 'dopolnitelNyeUslugi' %}
<section class="dopolnitelNyeUslugi mt-5 mb-5">
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.zagolovok }}</h2>
      <div class="title mt-3">{{ block.podzagolovok }}</div>
    </div>
    <div class="row clearfix">
      {% for entry in craft.entries().section('extraServices').limit(24).all() %}
      <div class="col-lg-4 col-md-4 col-sm-12 mb-3 mt-3">
        <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative align-items-center">
          <div class="item col-md-3 col-xs-12 col-sm-12">
            {% set image = entry.serviceIcon.one() %}
            <img src="{{ image.getUrl() }}" alt="" class="">
          </div>
          <div class="col d-flex flex-column position-static p-2">
            <h5>{{ entry.title }}</h5>
            <p>{{ entry.serviceText }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% elseif block.type == 'tekstovyyBlok' %}
<section class="service-block-two">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          {% set image = block.izobrazhenie.one() %}
          {% if image %}
          <div class="image">
            <img src="{{ image.getUrl() }}" alt="" />
          </div>
          {% endif %}
        </div>
      </div>

      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <h4>{{ block.zagolovok }}</h4>
          <div class="text">{{ block.tekst }}</div>
        </div>
      </div>
      <div class="col-12 text-center">
        <a href="#" class="theme-btn btn-style-three" data-toggle="modal" data-target="#modalMeet"><span class="txt">Оставить заявку на встречу</span></a>

      </div>
    </div>
  </div>
</section>

{% elseif block.type == 'komanda' %}
<section class="team-section" id="about">
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.zagolovok }}</h2>
      <div class="title mt-3">{{ block.podzagolovok }}</div>
    </div>
    {% include "_includes/_team_section" %}
  </div>
</section>

{% elseif block.type == 'otzyvy' %}
<section class="testimonial-section" id="reviews">
  <div class="auto-container">
    <div class="sec-title centered">
      <div class="title mt-3">{{ block.podzagolovok|raw }}</div>
      <h2>{{ block.zagolovok }}</h2>
    </div>
    <div class="client-testimonial-carousel owl-carousel owl-theme">
      {% for entry in craft.entries().section('reviews').limit(12).all() %}
      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="text">{{ entry.commonText }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="client-thumb-outer">
      <div class="client-thumbs-carousel owl-carousel owl-theme">
        {% for entry in craft.entries().section('reviews').limit(12).all() %}
        <div class="thumb-item">
          {% set image = entry.commonImage.one() %}
          <figure class="thumb-box">
            <img src="{% if image %}{{ image.getUrl('image84X84') }}{% else %}https://via.placeholder.com/84?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}">
          </figure>
          <div class="thumb-content">
            <h3>{{ entry.title }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% elseif block.type == 'chastozadavaemyeVoprosy' %}

{% set image = block.fonovoeIzobrazhenie.one() %}
<section class="pb-5 pt-5 accordion-faq" {% if image %}style="background-image:url({{ image.getUrl() }});"{% endif %}>
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.nazvanieSektsii }}</h2>
    </div>
    <div class="row clearfix">
      <div class="col">
        <div class="accordion" id="accordionExample1">
          {% for faq in block.voprosOtvetLeft %}
          <div class="card">
            <div class="card-header" id="headingOne1">
              <h5 class="mb-0">
                <a class="acc-btn" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                  {{ faq.vopros }}
                </a>
              </h5>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingOne1" data-parent="#accordionExample1">
              <div class="card-body">{{ faq.otvet }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col">
        <div class="accordion" id="accordionExample2">
          {% for faq in block.voprosOtvetRight %}
          <div class="card">
            <div class="card-header" id="headingTwo2">
              <h5 class="mb-0">
                <a class="acc-btn" type="button" data-toggle="collapse" data-target="#collapse2{{ loop.index }}" aria-expanded="true" aria-controls="collapse2{{ loop.index }}">
                  {{ faq.vopros }}
                </a>
              </h5>
            </div>
            <div id="collapse2{{ loop.index }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="headingTwo2" data-parent="#accordionExample2">
              <div class="card-body">{{ faq.otvet }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% elseif block.type == 'blog' %}

<section class="blog-section">
  <div class="pattern-layer" style="background-image:url(/assets/temp_img/2.png)"></div>
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>{{ block.zagolovok }}</h2>
    </div>
    {% include "_includes/_blog_section" %}
    <div class="button-box text-center">
      <a href="/blog" class="theme-btn btn-style-two"><span class="txt">Больше статей</span></a>
    </div>
  </div>
</section>

{% endif %}
{% endfor %}

{% endblock %}
