{% extends "_layout" %}
{% set description = entry.seoDescription %}
{% block content %}
<!-- About Section -->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="/assets/temp_img/about-1.jpg" alt="" />
          </div>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="title">Spring Wedding Dress</div>
          <h2>We Make The Best <br> Collection Of Wedding <br> Dresses for Women</h2>
          <div class="text">With our team of Photographers & videographers we strive to capture the true essence of your wedding story and tell it through still images and cinematic films.</div>
          <a href="about.html" class="theme-btn btn-style-two"><span class="txt">About Us</span></a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End About Section -->

<!-- Collection Section -->
<section class="collection-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title">
      <!-- <div class="title">OUR COLLECTION</div> -->
      <h2>Фотогалерея свадеб</h2>
    </div>
    <div class="row clearfix">

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-1.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-2.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-3.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-4.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-5.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Collection Block -->
      <div class="collection-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image">
            <img src="/assets/temp_img/collection-6.jpg" alt="" />
            <!-- Overlay Box -->
            <div class="overlay-box">
              <div class="overlay-inner">
                <div class="content">
                  <h3><a href="portfolio-single-01.html">Evelyn</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="button-box text-center">
      <a href="#" class="theme-btn btn-style-two"><span class="txt">Load More</span></a>
    </div>

  </div>
</section>
<!-- End Collection Section -->

<!-- Call To Action Section -->
<section class="call-to-action-section">
  <div class="auto-container">
    <div class="content">
      <div class="save">Save on our <br><span>Summer Sale</span></div>
      <div class="off">50% OFF COUPON</div>
    </div>
  </div>
</section>
<!-- End Call To Action Section -->

<!-- Week Section -->
<section class="week-section">
  <div class="auto-container">
    <div class="inner-container">
      <div class="row clearfix">

        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image">
              <img src="/assets/temp_img/week.jpg" alt="" />
            </div>
          </div>
        </div>

        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <h1>Style of <span>the Week</span></h1>
            <div class="text">View the latest style of the week — <span>01/01/20</span></div>
            <a href="about.html" class="theme-btn btn-style-two"><span class="txt">Read More</span></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

  {% include "_includes/_team_section" %}

{% include "_includes/_blog_section" %}


<!-- Image Section -->
<section class="image-section">
  <div class="image">
    <img src="/assets/temp_img/3.jpg" alt="" />
  </div>
</section>
<!-- End Image Section -->

<section class="testimonial-section">
  <div class="auto-container">
    <div class="sec-title centered">
      <div class="title">Присылайте отзывы нам на e-mail: <a href="mailto:{{ globalEmail.textFormatted }}">{{ globalEmail.textFormatted }}</a></div>
      <h2>Отзывы о нашей работе</h2>
    </div>
    <div class="client-testimonial-carousel owl-carousel owl-theme">
      {% for entry in craft.entries().section('reviews').limit(12).all() %}
      <div class="testimonial-block-one">
        <div class="inner-box">
          <div class="text">{{ entry.commonText }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="client-thumb-outer">
      <div class="client-thumbs-carousel owl-carousel owl-theme">
        {% for entry in craft.entries().section('reviews').limit(12).all() %}
        <div class="thumb-item">
          {% set image = entry.commonImage.one() %}
          <figure class="thumb-box">
            <img src="{% if image %}{{ image.getUrl('image84X84') }}{% else %}https://via.placeholder.com/84?text=Нет&nbsp;фото{% endif %}" alt="{{ entry.title }}">
          </figure>
          <div class="thumb-content">
            <h3>{{ entry.title }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Booking Section -->
<section class="booking-section" style="background-image: url(/assets/temp_img/4.jpg)">
  <div class="auto-container">
    <div class="row clearfix">

      <!-- Contact Column -->
      <div class="contact-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <h3>Contact us</h3>
          <ul>
            <li>
              <span>Hours</span>
              Tuesday-Saturday: 9am-5pm <br> Monday: 10:30am-3pm  Closed on Sundays <br> for the season​
            </li>
            <li>
              <span>Contact us</span>
              5012 Ae. Queen Isabella Blvd., Port Isabel, <br>
              Texas, 785647 <br>
              Tel:  <a href="tel:+088-01912704287">+088 01912704287</a> <br>
              Email : <a href="mailto:amicisalonspa@yahoo.com">amicisalonspa@yahoo.com</a> <br>
            </li>
          </ul>
        </div>
      </div>

      <!-- Content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <h2>We will make your <br> big day memorable</h2>
          <div class="text">We accept a very limited number of weddings each year and the average <br> couple spends about $5900 on a full wedding dress. </div>
          <a href="contact.html" class="theme-btn btn-style-three"><span class="txt">Book Now !</span></a>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
